<html>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.bundle.js"></script>

	<body>
		<div class="splitl left">
		    <div class="sidenav">
		      <h2>Influenza A Strains</h2>
		      <button class="dropdown-btn">H1
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="H1N1_2000-2000">N1</a>
		        <a href="H1N2_2001-2001">N2</a>
		        <a href="H1N3_1994-1994">N3</a>
		      </div>

		      <button class="dropdown-btn">H2
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="H2N1_1983-1985">N1</a>
		        <a href="H2N2_1957-1958">N2</a>
		        <a href="H2N3_1976-1976">N3</a>
		      </div>

		      <button class="dropdown-btn">H3
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="H3N1_1980-1980">N1</a>
		        <a href="H3N2_1971-1971">N2</a>
		        <a href="H3N3_1976-1976">N3</a>
		      </div>
		      <a href= "/about" class = "about-btn">About
			  </a>
		      <a href= "/news" class = "news-btn">News
			  </a>

		    </div>
		</div>

		<div class="splitr right">
		  	
			<div class = "whiteBG">
				<div id="fvH"></div>
		  		<div id="fvN"></div>
		  		<div id="fv2"></div>
		  		<div id="fv1" class = "graph"></div>
		  	</div>
		  	<div class = "info">
			  	<div id = "news" class = "card">
			  		<div class = "colorbar"></div>
				    <div class = "description-flex-container news-description">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/502c7051-0135-44b8-98a3-4a766aa344b0.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/1fad10a2-6f02-4076-9c9c-7e17928b7b9f.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/e6265e5d-bc7f-4e3a-9688-14a7ee177e9c.gif" class="activet">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/e9faaf90-50d4-4ae1-93d5-03add94e0235.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/f1d0e188-25aa-4939-92d7-621e4a0f65b8.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/98602077-7144-4ed5-8ced-86268d8c50b2.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/a7d7b32e-030a-4427-9394-0c2b9a858476.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/49525df7-5709-4173-97d5-ea02514da47d.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/743d973d-af55-4325-817a-beaa5743323c.gif">
				    	<img src="https://storage.googleapis.com/gweb-newslab-data-viz-tool.appspot.com/uploads/2c5d5a0f-2f48-41f3-ba89-1d4517a74289.gif">
					</div>
			    </div>
			    <div class = "card description">
			  		<div class = "colorbar"></div>
				    <h3>Influenza A virus subtype H1N1</h3>

					<p>Genus:	Alphainfluenzavirus

					Species:	Influenza A virus
					Serotype:	Influenza A virus subtype H1N1

					Known Outbreaks: 
					1976 swine flu
					2006 H5N1 India
					2007 Australian equine
					2007 Bernard Matthews H5N1
					2008 West Bengal
					2015 United States H5N2 outbreak

					Known Pandemics: 
					1918 Spanish flu
					1957 Asian flu
					1968–1969 Hong Kong
					2009 swine

					Past Vaccines:
					Fluzone
					Influvac
					Fluvax
					Flucelvax
					Fluad
					Fluverin
					Optaflu</p>
			    </div>
			</div>
			
			<div class = "timeline">
				<div class="flex-parent">
					<div class="input-flex-container">
						<% for (var i = 0; i < yearRange.length; i++) { %>
							<% if(currentYear == yearRange[i]){ %>
				    			<div class="input activet"><a href= <%=hrefs[i] %>><span data-year= <%=yearRange[i] %>></span></a></div>
				    		<%} else{ %>
				    			<div class="input"><a href= <%=hrefs[i] %>><span data-year= <%=yearRange[i] %>></span></a></div>
				    		<%}%>

				    	<%} %>
						</div>
					</div>
				</div>
			</div>


		  </div>
		</div>
		
		<script>

			var piH = [];
			var piN = [];
			var sequenceH = "";
			var sequenceN = "";
			var h  = false;
  			var n = false;
			
  			<% if (locals.probabilityIntervalsH){ %>
	    		<% for (var i = 0; i < probabilityIntervalsH.length; i++) { %>
	    			piH.push([<%= probabilityIntervalsH[i] %>])
	    		<%} %>
	    		sequenceH = "<%= sequenceH %>";
	    		h = <%= lastH %>;
	    	<%}%>

    		<% if (locals.probabilityIntervalsN){ %>
	    		<% for (var i = 0; i < probabilityIntervalsN.length; i++) { %>
	    			piN.push([<%= probabilityIntervalsN[i] %>])
	    		<%} %>
	    		 sequenceN = "<%= sequenceN %>";
	    		 n = <%= lastN %>;
	    	<%}%>


			// var ddata = [];

			// for (var i=1;i<100;i++) {
			//     var count = Math.floor((Math.random() * 20) + 1);
		 //        ddata.push({
		 //            x: i*2,
		 //            y:count
		 //        })
			// }

			var mutationIntervalsH =  [];
			var mutationIntervalsN =  [];

			var probabilityIntervalsH = piH;
			var probabilityIntervalsN = piN;
			var piFormatH = [];
			var piFormatN = [];

			for (var i = 0; i < probabilityIntervalsH.length; i++){
				mutationIntervalsH.push({
			        x: probabilityIntervalsH[i][0],
			        y: probabilityIntervalsH[i][1]
			    })
			}

			for (var i = 0; i < probabilityIntervalsN.length; i++){
				mutationIntervalsN.push({
			        x: probabilityIntervalsN[i][0],
			        y: probabilityIntervalsN[i][1]
			    })
			}
  			
  			for (var i = 0; i < probabilityIntervalsH.length; i++){
				piFormatH.push({
			        x: probabilityIntervalsH[i][0],
			        y: probabilityIntervalsH[i][1]
			    })
			}

			for (var i = 0; i < probabilityIntervalsN.length; i++){
				piFormatN.push({
			        x: probabilityIntervalsN[i][0],
			        y: probabilityIntervalsN[i][1]
			    })
			}

  			if (h) {
				var pftH = new FeatureViewer(sequenceH,
	               '#fv2',
	                {
	                    showAxis: true,
	                    showSequence: true,
	                    brushActive: true, //zoom
	                    toolbar:true, //current zoom & mouse position
	                    bubbleHelp:true, 
	                    zoomMax:50 //define the maximum range of the zoom
	                });
				console.log("HELLO")
				console.log(piFormatH);

				pftH.addFeature({
				    data: piFormatH,
				    name: "Hemagglutinin",
				    className: "test5",
				    color: "#008B8D",
				    type: "line",
				    filter: "type2"
				});
            } else if (n) {
				var pftN = new FeatureViewer(sequenceN,
	               '#fv2',
	                {
	                    showAxis: true,
	                    showSequence: true,
	                    brushActive: true, //zoom
	                    toolbar:true, //current zoom & mouse position
	                    bubbleHelp:true, 
	                    zoomMax:50 //define the maximum range of the zoom
	                });

				pftN.addFeature({
				    data: piFormatN,
				    name: "Neuraminidase",
				    className: "test5",
				    color: "#008B8D",
				    type: "line",
				    filter: "type2"
				});
			
            } else {

				var ftH = new FeatureViewer(sequenceH,
	               '#fvH',
	                {
	                    showAxis: true,
	                    showSequence: true,
	                    brushActive: true, //zoom
	                    toolbar:true, //current zoom & mouse position
	                    bubbleHelp:true, 
	                    zoomMax:50 //define the maximum range of the zoom
	                });

				ftH.addFeature({
				    data: mutationIntervalsH,
					name: "Hemagglutinin",
					className: "test1",
					color: "#005572",
					type: "rect",
	   				filter: "type1"
				});


				var ftN = new FeatureViewer(sequenceN,
	               '#fvN',
	                {
	                    showAxis: true,
	                    showSequence: true,
	                    brushActive: true, //zoom
	                    toolbar:true, //current zoom & mouse position
	                    bubbleHelp:true, 
	                    zoomMax:50 //define the maximum range of the zoom
	                });

				ftN.addFeature({
				    data: mutationIntervalsN,
					name: "Neuraminidase",
					className: "test1",
					color: "#005572",
					type: "rect",
					filter: "type1"
				});

			}
                            
		</script>

		<script>
			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;

			for (i = 0; i < dropdown.length; i++) {
			  dropdown[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var dropdownContent = this.nextElementSibling;
			    if (dropdownContent.style.display === "block") {
			      dropdownContent.style.display = "none";
			    } else {
			      dropdownContent.style.display = "block";
			    }
			  });
			}

		</script>

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

		<script>
			var inputs = $('.input');
			var paras = [$('.news-description').find('img')];
			var i;
			$(inputs).click(function(){
			for(i in paras) {
				
					var t = $(this),
							ind = t.index(),
							matchedPara = $(paras[i]).eq(ind);
					console.log(t)
					
					$(t).add(matchedPara).addClass('activet');
					$(inputs).not(t).add($(paras[i]).not(matchedPara)).removeClass('activet');
				}
			}
			); 
		</script>

</html>